@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

.about-page {
    display: flex;
    gap: 50px;
    margin-left: 10%;
}

.me-pic {
    height: 410px;
    border-radius: 50%;
    border: solid 5px #0077b6;
    margin-left: 10px;
}

.about-text {
    font-family: "Oswald";
    color: #fff;
    font-weight: 400;
    font-size: 1.8rem;
    padding-top: 65px;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .about-page {
        display: flex;
        flex-direction: column;
        margin-left: 7%;
        margin-right: 7%;
    }

    .me-pic {
        height: 270px;
        width: 270px;
        margin-left: 20%;
    }

    .about-text {
        font-size: 1.5rem;
        padding-top: 10px;
        width: 100%;
        margin-left: 0px;
    }
}

@media screen and (max-width: 414px) {
    .me-pic {
        margin-left: 12%;
    }
}