@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

.contact-page {
    font-family: "Oswald";
    font-weight: 400;
    color: #fff;
    display: flex;
    gap: 100px;
    /* margin-bottom: 28%; */
}

.contact-title {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #fff;
}

.contact {
    font-size: 1.5rem;
    /* text-align: center; */
}

.form-section {
    /* display: flex; */
    gap: 50px;
    border: solid 2px #0077b6;
    padding: 50px;
    border-radius: 0.375rem;
}

.form-left {
    /* display: flex;
    flex-direction: column; */
    justify-content: space-between;
}

.contact-message {
    width: 500px;
}


.contact-button {
    display: flex;
    margin-left: 42%;
    margin-top: 15px;
    background-color: #0077b6;
}

.contact-socials {
   padding-left: 1.5rem;
    display: flex;
    gap: 10px;
    list-style: none;
}




