@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

.contact-page {
    font-family: "Oswald";
    font-weight: 400;
    color: #fff;
    display: flex;
    gap: 100px;
    /* margin-bottom: 28%; */
}

.contact-title {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #fff;
}

.cp {
    margin-top: 15%;
}

.contact {
    font-size: 1.5rem;
    /* text-align: center; */
}

.form-section {
    /* display: flex; */
    gap: 50px;
    border: solid 2px #0077b6;
    padding: 50px;
    border-radius: 0.375rem;
}

.form-left {
    /* display: flex;
    flex-direction: column; */
    justify-content: space-between;
}

.contact-message {
    width: 500px;
}


.contact-button {
    display: flex;
    margin-left: 42%;
    margin-top: 15px;
    background-color: #0077b6;
}

.contact-socials {
   padding-left: 1.5rem;
    display: flex;
    gap: 10px;
    list-style: none;
}

.modal-header {
    background-color: #0077b6;
}

.modal-title {
    color: #fff;
}

.modal-button {
    background-color: #0077b6;
}

@media screen and (max-width: 768px) {
    .contact-page {
        flex-direction: column;
        gap: 0px;
    }

    .contact {
        font-size: 15px;
        gap: 0px;
        margin: 0 0 0 0;
        height: 25px;
        display: flow-root;
    }

    .contact-socials {
        justify-content: end;
        gap: 0;
        margin: 0 0 0 0;
    }

    svg {
        height: 50px;
    }

    .contact-message {
        width: 380px;
    }

    .form-section {
        padding: 30px;
    }

    .contact-button {
        margin-left: 37%;
    }

    .contact-email {
        margin: 0 0 0 0;
        height: 25px;
    }

    .contact-location {
        margin: 0 0 0 0;
        height: 25px;
    }

    
}




