@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

.navlinks {
    gap: 24px;
}

.navbar {
    font-family: "Oswald";
    color: white;
    background-color: #0077b6;
}

.nav-link {
    color: white; 
    font-weight: 400;
    font-size: larger;
}

.nav-link:hover {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
    color: #fff;
}

.nav-left {
    color: white;
    font-size: x-large;
}

.nav-left:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

.navbar-text a {
    color: #fff;
}

.navbar-text a:hover {
    color: #fff;
}

.offcanvas {
    background-color: #0077b6;
    font-family: "Oswald";
    font-size: 2rem;
}

.offcanvas.offcanvas-top {
    height: 64%;
}

.burger-link {
    display: flex;
    justify-content: center;  
    padding: 20px;
}

.burger-links {
    list-style: none;
}


@media screen and (max-width: 768px) {
    .nav-link {
        display: none;
    }
  }